<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Add Customer</title>
</head>
<body>
<div class="container">
    <form th:action="@{/customers/add}" method="post" th:object="${customer}">
        <div class="form-group">
            <label for="id">Id</label>
            <input type="text" class="form-control" id="id" placeholder="Enter Id" th:field="*{id}">
        </div>
        <div class="form-group">
            <label for="company">Company</label>
            <input type="text" class="form-control" id="company" placeholder="Enter Company" th:field="*{companyName}">
        </div>
        <div class="form-group">
            <label for="contact">Contact</label>
            <input type="text" class="form-control" id="contact" placeholder="Enter Contact" th:field="*{contactName}">
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" placeholder="Enter City" th:field="*{city}">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>