<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Company</th>
            <th scope="col">Contact</th>
            <th scope="col">City</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cust: ${customers}">
            <th scope="row" th:text="${cust.getId()}"></th>
            <td th:text="${cust.getCompanyName()}"></td>
            <td th:text="${cust.getContactName()}"></td>
            <td th:text="${cust.getCity()}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>